---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
      defer></script>
    <title>Z-Quizlet</title>
  </head>
  <body class="bg-secondary relative min-h-screen overflow-x-hidden">
    <div class="fixed inset-0 z-1 pointer-events-none">
      <img
        src="/bg.svg"
        alt="Background"
        class="w-full h-full object-cover scale-110 opacity-20"
      />
    </div>
    <div class="container max-w-5xl mx-auto px-4 relative z-10">
      <header class="mb-4">
        <a href="/" class="flex justify-center items-center">
          <img
            src="/z.svg"
            alt="Z-Quizlet Logo"
            class="mb-4 mt-4 h-16 pointer-events-none select-none"
          />
          <h1 class="text-3xl mt-4 pb-6 ml-[-2rem] font-semibold font-mono text-text">
            Quizlet
          </h1>
        </a>
      </header>
      <main class="relative pb-14">
        <slot />
      </main>
    </div>
    <footer class="fixed bottom-0 bg-text/86 font-medium text-white w-full py-2 text-center z-100">
      Made with 💜 by <a href="https://msabaq.me" class="underline">M Sabaq</a> and Saksham Nigam
    </footer>
  </body>
</html>
