---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
      defer></script>
    <title>Z-Quizlet</title>
  </head>
  <body class="bg-secondary relative min-h-screen overflow-x-hidden">
    <div class="absolute inset-0 z-1 pointer-events-none">
      <img
        src="/bg.svg"
        alt="Background"
        class="w-full h-full object-cover scale-110 opacity-20"
      />
    </div>
    <div class="container max-w-5xl mx-auto px-4 relative z-10">
      <header class="my-4 text-center flex justify-center items-center">
        <img
          src="/z.svg"
          alt="Z-Quizlet Logo"
          class="mb-4 h-16 pointer-events-none select-none"
        />
        <h1 class="text-3xl pb-6 ml-[-2rem] font-semibold font-mono text-text">
          Quizlet
        </h1>
      </header>
      <main class="relative">
        <slot />
      </main>
    </div>
  </body>
</html>
